body{
    background-color: #333;
}
.part2 img{
    height: 100vh;
    width: 60%;
    margin-left: 20%;
}
header{
    height: 100vh;
    background-color: #2c2d30;
    box-shadow: -2px -2px 3px rgba(83, 83, 83, 0.4), 2px 2px 3px rgba(0,0, 0,0.35);
    width: 80px;
    border-radius: 0 1.25rem 1.25rem 0;
    position: fixed;
    z-index: 1030;
    top: 0;
    left: 0;
    color: #ffb55a;
}
.navbar-brand{
    color: #ffb55a;
    text-align: center;
    font-size: 30px;
    margin: 0;
    width: 100%;
}

.navbar-brand:hover{
    color: #ffb55a;
}
.navbar-brand span{
    opacity: 0.7;
    font-size: 12px;
}

.nav-item a {
    text-decoration: none; /* Elimina el subrayado predeterminado de todos los enlaces */
    color: white; /* Color del texto para enlaces no activos */
  }
  
  .nav-item a.router-link-active {
    text-decoration: underline; /* Subraya el enlace activo */
    color: #ff0000; /* Cambia el color del texto para el enlace activo */
  }

.menu-items{
    margin: 70px 0 0 0;
    padding: 0;
}
.menu-item{
    list-style-type: none;
    background-color: transparent;
    border: none;
    margin: 10px;
}
.menu-item a{
    position: relative;
    color: #ffb55a;
    width: 60px;
    height: 60px;
    display: block;
    border-radius: 1rem;   
    box-shadow: 3px 3px 3px #202125, -3px -3px 3px #3e3e3e;
    text-decoration: none;
    text-align: center;
    padding: 22px 0;
    transition: all 0.3s ease;
}
.menu-item a:hover, .menu-item a.active{
    box-shadow: inset 3px 3px 3px #202125, inset -3px -3px 3px #3e3e3e;
    padding: 12px;
}
.menu-item a:hover span, .menu-item a.active span{
    display: block;
}
.menu-item a i{   
    font-weight: bold;
    transition: all 0.3s ease;
    display: inline-block;
    margin: auto;
}
.menu-item a span{
    opacity: 0.7;
    font-size: 12px;
    display: none;
}
.part1 {
    color: #fff;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
}
.my_name, .my_desc, .more_desc, .social-icons{
    padding: 15px;
}
.social-icons i{
    padding: 0 15px;
    position: relative;
    z-index: 3;
}
.my_name{
    color: #ffb55a;
}
.my_desc, .more_desc{
    opacity: 0.7
}
.social-icons i:hover{
    color: #ffb55a;
    cursor: pointer;
    
}
canvas{
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    z-index: 2;
}
    .navbar-brand{
        width: 50px;
    }
    .menu-items{
        display: flex;
        margin: 10px 0 0 0;
        justify-content: flex-end;
        flex-grow: 2;
    }
    .menu-item a{
        width: 40px;
        height: 40px;
        padding: 12px 0;
    }
    .menu-item a span{
        font-size: 8px;
    }
    .menu-item a:hover, .menu-item a.active{
        padding: 7px;
  }

  .social-icons i{
    padding: 0 15px;
    position: relative;
    color: #efeff0;
    z-index: 3;
}

/* Estilos para el contenedor del formulario */
.form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #f8f9fa;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  /* Estilos para los campos del formulario */
  .form-container input {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    background-color: #fff;
  }
  
  /* Estilos para el botón del formulario */
  .form-container button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  
  /* Estilos para el botón del formulario al pasar el cursor por encima */
  .form-container button:hover {
    background-color: #0056b3;
  }
  
  /* Estilos para el mensaje de error */
  .error-message {
    color: #dc3545;
    font-size: 14px;
  }
  
  /* Estilos para el mensaje de éxito */
  .success-message {
    color: #28a745;
    font-size: 14px;
  }
  